* {
    padding: 0;
    margin: 0;
}


main {
    background-color: rgb(144, 144, 211);
}

.da {
    background-color: rgb(19, 141, 100);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    gap: 2px;
    height: 100vh;
    padding: 0 3px
}

.one {
    background-color: red;
    height: 60px;
    width: 60px;
    align-content: center;
    text-align: center;
}
